---
layout: default
title: Ultrabit
---

<h2>Jobs <span>at</span> Ultrabit</h2>
<section class="job job--intro">
	<h3>Apply Now</h3>
	<ol class="job--steps">
		<li class="job--step">Email <a href="mailto:jobs@ultrabit.com">jobs@ultrabit.com</a>.</li>
		<li class="job--step">Include the name of the position you are applying for in the subject line.</li>
		<li class="job--step">Don't forget to attach your resume!</li>
	</ol>
</section>
{% if site.data.jobs == null %}
	<section class="job">
		<h3>Updates Coming Soon!</h3>
	</section>
{% else %}
  {% for job in site.data.jobs %}
		<section class="job">
			<h3>{{ job.position }}</h3>
			{% if job.description != null %}
				{{ job.description | markdownify }}
			{% endif %}
		</section>
  {% endfor %}
{% endif %}
