<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ page.title }}</title>
    <meta description="A game studio based out of San Diego, CA." />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Lato:300i,700|Roboto:300" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body id="home">
    <main class="main">
      <header class="header">
        <h1>Ultrabit</h1>
        <p>We&apos;re a game studio in San Diego, CA, formed in the summer of 2014 by veterans from Zynga, Kongregate, Sony Online Entertainment and Red 5 Studios.</p>
        <div class="games">
          <ul class="games--list">
             <li class="games--list--cover">
              <a href="https://www.kongregate.com/pages/idlepayday" target="_blank" class="games--list--link">
                <img alt="Idle Payday: Fast Money" src="/imgs/game-idlepayday.jpg" class="games--list--img" />
              </a>
            </li>
            <li class="games--list--item">
              <a href="https://www.kongregate.com/pages/crosswordsafari" target="_blank" class="games--list--link">
                <img alt="Pocket Politics" src="/imgs/game-crosswordsafari.jpg" class="games--list--img" />
              </a>
            </li>
            <li class="games--list--item">
              <a href="https://www.kongregate.com/pages/pocket-politics-mobile" target="_blank" class="games--list--link">
                <img alt="Pocket Politics" src="/imgs/game-pocketpolitics.jpg" class="games--list--img" />
              </a>
            </li>
            <li class="games--list--item">
              <a href="https://www.kongregate.com/pages/office-space-mobile" target="_blank" class="games--list--link">
                <img alt="Office Space" src="/imgs/game-officespace.jpg" class="games--list--img" />
              </a>
            </li>
            <li class="games--list--item">
              <img alt="Raid Briagade" src="/imgs/game-raidbrigade.jpg" class="games--list--img" />
            </li>
          </ul>
        </div>
      </header>
      <article class="content">
        {{ content }}
      </article>
    </main>
  </body>
</html>
